@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@media screen and (max-width: 600px) {

    p {
        padding: 10px 40px 10px 40px;
        text-align: center;
    }

    h1 {
        font-size: 25px;
        text-align: center;
        margin: 20px 60px 20px 60px;
    }
    
    h3 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 0px
    }

    div.build {
        text-align: center;
    }

    div.try img {
        width: 100px;
    }
    div.try button {
        background-color: white;
        border-radius: 5px;
        float: right;
        margin: 35px 20px 0px 0px;
        border: none;
        border-radius: 25px;
        box-shadow: 0xp 0px 20px black;
        padding: 5px 20px 5px 20px;
        font-size: 14px;
    }

    div.build img {
        width: 60%;
        padding-top: 40px;
        padding-bottom: 40px;
    } 

    div.grow {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        box-shadow: 0px 0px 7px rgb(127, 121, 121);
        border-radius: 10px;
}
    
    div.flowing {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        box-shadow: 0px 0px 7px rgb(127, 121, 121);
        border-radius: 10px;
}

    div.users {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        box-shadow: 0px 0px 7px rgb(127, 121, 121);
        border-radius: 10px;
}
   
    div.topics img {
        padding: 30px;

    }div.contact {
        background-color: hsl(192,100%,9%);
        margin: 0px -20px -20px -20px;
        padding: 100px 20px 20px 20px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    
    div.info {
        padding-bottom: 40px;
    }
    
    div.info p {
        font-size: 16px;
        text-align: left;
    }
    
    div.faq {
        display: flex;
        flex-direction: column;
    }
    
    div.faq p {
        line-height: 30px;
        font-size: 16px;
        margin-top: -30px;
        text-align: left;
    }
    
    div.icons {
        text-align: center;
    }
    
    div.copy {
        background-color: hsl(192,100%,9%);
        margin: -20px;
        margin-bottom: -50px;
        color: white;
        display: flex;
        justify-content: center;
    }
    
    div.copy p {
        font-size: 15px;
    }
  }

@media screen and (min-width: 600px) {

    h1 {
        font-size: 45px;
        text-align: left;
        color: hsl(192, 92%, 23%);
    }
    
    h3 {
        font-size: 30px;
    }

    section {
        width: 40%;
        margin: auto;
    }

    div.try button {
        background-color: white;
        border-radius: 5px;
        float: right;
        margin: 45px 20px 0px 0px;
        border: none;
        border-radius: 25px;
        box-shadow: 0xp 0px 20px black;
        padding: 10px 40px 10px 40px;
    }
    
    section#build {
        width: 40%;   
        margin: auto;
    }

    div.build {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 50px 70px 50px;
        justify-content: center;
    }
    
    div.build img {
        width: 50%;
    } 

    div.started {
        width: 40%;
    }

    div.grow {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        box-shadow: 0px 0px 7px rgb(127, 121, 121);
        border-radius: 10px;
    }

    div.grow img {
        width: 40%;
    }

    div.flowing {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        box-shadow: 0px 0px 7px rgb(127, 121, 121);
        border-radius: 10px;
    }

    div.flowing img {
       width: 40%;
    }

    div.users {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        box-shadow: 0px 0px 7px rgb(127, 121, 121);
        border-radius: 10px;
    }

    div.users img {
        width: 40%;
    }
    div.contact {
        background-color: hsl(192,100%,9%);
        margin: 0px -20px -20px -20px;
        padding: 100px 20px 20px 20px;
        color: white;
        display: flex;
        flex-wrap: wrap;
    }
    
    div.info {
        width: 30%;
        padding:20px;
        margin-left: 20px;
    }
    
    div.info p {
        font-size: 16px;
        padding: 0px 60px 0px 60px;
    }
    
    div.faq {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    
    div.faq p {
        margin: auto;
        line-height: 40px;
        font-size: 16px;
    }
    
    div.icons {
        width: 30%;
        text-align: center;
    }
    
    div.copy {
        background-color: hsl(192,100%,9%);
        margin: -20px;
        margin-bottom: -50px;
        color: white;
        display: flex;
        justify-content: end;
    }
    
    div.copy p {
        font-size: 15px;
    }
  } 

/* General CSS */

body {
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 20px;
}

button {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

div.topics p {
    opacity: 0.6;
}

/* Top section */

div.try button:hover {
    color: rgb(64, 63, 63)
}

div.try img {
    margin-left: 50px;
    margin-top: 40px;
}

div.header {
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: hsl(193,100%,96%);
    margin: -20px;
}

div.build button {
    background-color: hsl(322,100%,66%);
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 60px 15px 60px;
}

div.build button:hover {
    background-color: hsl(322, 84%, 71%);
}

/* Middle section */


div.topics {
    padding: 120px 70px 80px 70px;
}

div.started {

    margin: auto;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

div.started button {
    background-color: hsl(322,100%,66%);
    border-radius: 25px;
    border: none;
    color: white;
    padding: 20px 80px 20px 80px;
}

div.started button:hover {
    background-color: hsl(322, 84%, 71%);
}

/* Foooter */


.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: white;
}

.attribution a { 
    color:white
}